.team-members{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.team-sec h1{
    text-align: center;
    font-size: 4.5em;
    color: #ffffff;
    letter-spacing: 2px;
}

.member{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    display: inline-block;



}

.member-photo{
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 2px;
}
.member h2{
    font-size: 1.5em;
    margin-bottom: 10px;
}

.member p{
    font-size: 20px;
    color: #666666;
    margin: 5px 0;

}

.member-info {
    position: absolute;
    top: 160px; /* below image */
    left: 50%;
    transform: translateX(-50%) translateY(180px);

    background: white;
    padding: 5px;

    width: 300px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);

    opacity: 0;
    transition: 0.3s;
}

.member:hover.member-photo{
    transform: scale(1.1);
}

.member:hover .member-info {
    opacity: 2;
    max-height: 300px;
    margin-top: 10px;
    background: rgb(6, 29, 97);
    transition: 0.2s;
    font-size: 0.9em;
    color: white;

}

.member:focus {
    outline: 3px solid #500a60;
}

.team-desc{
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #ffffff;
    opacity: 0.8;

}
